/*@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Lato:ital,wght@0,700;1,400&family=Luxurious+Roman&family=Martian+Mono:wght@100;200;700&family=Rubik:ital,wght@0,300;1,300&display=swap'); 
/*All page*/
:root{
    --bg-color:#1f242d;
    --second-color:#2e3440;
    --text-color:#fff;
    --main-color:#0ef;
}
html{
    font-size: 62.5%;
    overflow: visible;
}
body{
    background:var(--bg-color);
    color: var(--text-color);
}
/*header*/
/*End Services page*/

/*start Portfolio page*/
.Portfolio{
    background: var(--second-color);
}
.Portfolio h2{
    margin-bottom: 4rem;
}

.Portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.Portfolio-container .Portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.Portfolio-box img{
    width: 100%;
    transition: .5s ease;
}
.Portfolio-box:hover img{
    transform: scale(1.15   );
}
.Portfolio-box .Portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.Portfolio-layer h4{
    font-size: 3rem;
}
.Portfolio-box:hover .Portfolio-layer{
    transform: translateY(0);

}

.Portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.Portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.Portfolio-layer a i { 
    font-size: 2rem;
    color: var(--second-color);
}   
/*End Portfolio page*/